body{
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited{
    color: #ff6600;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#principal{
    width: 960px; 
    margin: auto;
    background: #e3e3e3;
    padding: 10px 20px;
    overflow: hidden;
}
#formulario{
    width: 960px;
    margin: auto;
    background: #e3e3e3;
    padding: 10px 20px;
    overflow: hidden;
}
#formulario2{
    background: #e3e3e3;
    margin: auto;
    padding: 450px 20px;
}
form {
    text-align:center;
  }
header nav ul{
    list-style: none;
    padding-left: 0;
}
header nav ul li{
    display: inline-block;
    margin: 10px;
}
header nav ul li a{
    font-size: 18px;
    color: tomato;
    text-decoration: none;
}
header nav ul li a:hover{
    text-decoration: underline;
}
#content{
    float: left;
    width: 660px;
}
#sidebar ul{
    float: right;
    width: 300px;
}
#sidebar ul{
    list-style: none;
}
footer{
    clear: both;
}