*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "cabecalho"
        "principal"
        "rodape";
}

.cabecalho{
    grid-area: cabecalho;
    background: #1867c0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: 0px 4px 13px -2px rgba(0,0,0,0.75);
}

.cabecalho h1{
    margin: 0%;
    font-weight: 300;
    font-size: 2.8rem;
}

.cabecalho h2{
    margin: 0%;
    font-weight: 200;
    font-size: 2,6rem;
}

.principal{
    grid-area: principal;
    height: calc(100vh - 180px);
    background: #e3e3e3;
    padding: 20px;
}

.rodape{
    grid-area: rodape;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: #444;
}

.login{
    padding: 50px 20px;
    width: 320px;
    height: 300px;
    border: 2px solid #000;
    border-radius: 80px 0px 80px 0px;
    color: #fff;
    background-color: rgba(0, 0, 5, 0, 8);
    top: 20%;
    left: 35%;
    position: absolute;
}

.login p{
    margin: 0;
    padding: 0;
    color: #000;
    font: bold;
}

.login input{
    margin-bottom: 21px;
    width: 100%
}

.login input[type=text], input[type=password]{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.login input[type=submit]{
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background: #fff;
    border-radius: 20px;
    transition: 0,2s;
}

.login input[type=submit]:hover{
    cursor: pointer;
    background: #ff4d4d;
    transition: 0,2s;
}

a:link, a:visited{
    color: blue;
    text-decoration: none;
    font-size: 15px;
}
a:hover{
    text-decoration: underline;
}
input[type=submit]{
    display: block;
    color: black;
}
#principal{
    width: 960px; 
    margin: auto;
    background: #e3e3e3;
    padding: 10px 20px;
    overflow: hidden;
}
#formulario{
    align-items: center;
    margin: auto;
    padding: 400px 250px;
}
header nav ul{
    list-style: none;
    padding-left: 0;
}
header nav ul li{
    display: inline-block;
    margin: 10px;
}
header nav ul li a{
    font-size: 18px;
    text-decoration: none;
}
header nav ul li a:hover{
    text-decoration: underline;
}
#content{
    float: left;
    width: 660px;
}
#sidebar ul{
    float: right;
    width: 300px;
}
#sidebar ul{
    list-style: none;
}
footer{
    clear: both;
}